{% extends '../index.html' %}

{% block body %}
<!-- {{allCheckoutItems}} -->
<!-- Checkout Items | START -->
<div class="" id="onAddToCart">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="onAddToCartLabel">Checkout Items</h5>
      </div>
      <div class="modal-body">
        <p class="noProductMsg">Add your Items</p>
        <ol class="list-group list-group-numbered checkoutItems">
          {% for prodId, aboutProd in allCheckoutItems.items %}
          <!-- JSON Iteration  -->
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{aboutProd.1}}</div>
              {{aboutProd.2}}<br>
              <b>&#x20b9 {{aboutProd.3}}</b>
            </div>
            <span class="badge bg-primary rounded-pill" id="checkout${item}">{{aboutProd.0}}</span>
          </li>
          {% endfor %}
        </ol>
      </div>
      <div class="modal-footer">
        <a href="/shop" class="btn btn-primary">Back</a>
        <form action="/shop/placeOrder/" method="post">{% csrf_token %}
          <input type="hidden" name="allCheckoutItems" id="allCheckoutItems" value="{{allCheckoutItems}}">
          <button type="submit" class="btn btn-primary">Continue</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Checkout Items | END  -->

{% endblock body %}

{% block js %}
<script>
  $(document).ready(function () {
    cart = JSON.parse(localStorage.getItem('cart'));
    if (cart == null) {
      $(".noProductMsg").show();
      return;
    } else {
      $(".noProductMsg").hide();
    }
  })

</script>
{% endblock js %}